{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block content %}
  <div class="col-auto">
    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <input type="submit" value="Submit">
      <input name="next" type="hidden" value="{{ next }}">
    </form>
    <p class="text-muted">Don't have an account? <a href="{% url 'user:register' %}">Click here to create one</a></p>
    <br>
    <p>or</p><br>
    <a href="{% url 'social:begin' 'github' %}">Login with github</a>
  </div>
{% endblock %}