{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="col-auto">
    <h2>Register</h2>
    {% if form.errors %}
      <p class="text-danger-emphasis">Error{{ form.errors }}</p>
    {% endif %}

    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <input type="submit" value="Register">
    </form>

    <a href="{% url 'login' %}">Back to login</a><br>
    <a href="{% url 'social:begin' 'github' %}">Login with github</a>
  </div>
{% endblock %}
